*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #3f3ff5;
}

.hero-section {
    padding: 50px 0;
    text-align: center;
}
.profile-img {
    border: 5px solid gold;
    border-radius: 50%;
    width: 200px;
    height: 250px;
}

.skills-section {
    padding: 50px 0;
}
.project-section{
    padding: 50px;
}

#Education{
    font-size: 31px;
}